__pycache__
*~
out/
logs/
lightning_logs/
lightning_logs_save/
data/
datasets/
checkpoints/
.idea/
*.egg-info/
build/
.vscode/launch.json
conf/gsc_quant_test/
conf/gsc_CSI/
conf/cifar10_ICONIP/cifar10_VGG_fused_ICONIP_LSQ4_train_r1.toml
conf/cifar10_ICONIP/cifar10_VGG_fused_ICONIP_LSQ8_and_4_LRdiv10_train.toml
conf/cifar10_ICONIP/cifar10_VGG_no_fused_ICONIP_LSQ8_and_4_LRdiv10_train.toml
conf/cifar10_ICONIP/cifar10_VGG_fused_ICONIP_LSQ4_train_r1.toml
conf/cifar10_ICONIP_rerun
pdm.lock
